<app-menu></app-menu>
<form class="form-horizontal" style="margin-top: auto">
  <section class="container my-5 position-relative">
    <h1>Vacante</h1>
    <article class="form-row">
      <section class="form-group col-sm-12 col-md-2">
        <label for="exampleFormControlInput1 ">Cedula</label>
        <input
          type="text"
          class="form-control"
          id="v_fecha"
          name="v_fecha"
          placeholder="Numero de cedula"
        />
      </section>
      <section class="form-group col-sm-12 col-md-4">
        <label for="exampleFormControlInput1" class="col-lg-1">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="v_cargo"
          name="v_cargo"
          placeholder="Gerente de proyecto"
        />
      </section>
      <section class="form-group col-sm-12 col-md-6">
        <label for="exampleFormControlInput1" class="col-lg-1">Correo</label>
        <input
          type="email"
          class="form-control"
          id="v_solicitante"
          name="v_solicitante"
          placeholder="Correo"
        />
      </section>
    </article>
    <article class="form-row">
      <section class="form-group col-sm-12 col-md-4">
        <label for="exampleFormControlInput1" class="col-lg-1">Clave</label>
        <input
          type="password"
          class="form-control"
          id="v_cargo"
          name="v_cargo"
          placeholder="Gerente de proyecto"
        />
      </section>
      <section class="form-group col-sm-12 col-md-4">
        <label for="exampleFormControlInput1" class="col-lg-1">Perfil</label>
        <select class="form-control form-control-lg">
          <option>Administrador</option>
          <option>usuario</option>
        </select>
      </section>
    </article>
    <article class="btn-toolbar" role="toolbar">
      <section class="btn-group col-sm-12 col-md-2">
        <button type="submit" class="btn btn-primary" id="b_vguardar">
          Guardar
        </button>
      </section>
      <section class="btn-group col-sm-12 col-md-2">
        <button type="reset" class="btn btn-primary" id="b_cancelar">
          Cancelar
        </button>
      </section>
    </article>
  </section>
</form>