<app-menu></app-menu>
<form
  #formCrear="ngForm"
  (ngSubmit)="crearCantidato(formCrear)"
  class="form-horizontal"
  style="margin-top: auto"
>
  <a class="navbar-brand" href="#">
    <img class="img-fluid" src="assets\Iconos\ITC.png" alt="logo" />
  </a>
  <section class="container my-5 position-relative">
    <h1>Candidato</h1>
    <section class="form-group">
      <label for="exampleFormControlInput1" class="col-lg-1">Cédula </label>
      <input type="number" id="c_Cedula" class="form-control" placeholder="" />
    </section>
    <section class="form-group">
      <label for="formGroupExampleInput1" class="col-lg-1">Nombres</label>
      <input type="text" id="c_nombres" class="form-control" placeholder="" />
    </section>
    <section class="form-group">
      <label for="exampleFormControlInput1" class="col-lg-1">Apellidos</label>
      <input type="text" id="c_apellidos" class="form-control" placeholder="" />
    </section>
    <section class="form-group">
      <label for="exampleFormControlInput1" class="col-lg-1">Estado</label>
      <section class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="c_estado1"
        />
        <label class="form-check-label col-lg-2" for="defaultCheck2">
          Abierto
        </label>
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="c_estado2"
        />
        <label class="form-check-label col-lg-2" for="defaultCheck2">
          Cerrado
        </label>
      </section>
    </section>
    <section class="form-group">
      <label for="exampleFormControlInput1" class="col-lg-1">Correo</label>
      <input
        type="email"
        class="form-control"
        id="c_correo"
        placeholder="nombre@ejemplo.com"
      />
    </section>
    <section class="form-group">
      <label for="exampleFormControlInput1" class="col-lg-1">Teléfono</label>
      <input
        type="number"
        class="form-control"
        id="c_telefono"
        placeholder="321235385"
      />
    </section>
    <section class="form-group">
      <label for="exampleFormControlInput1">Fecha Ingreso</label>
      <input type="date" class="form-control" id="c_fecha" />
    </section>
    <section class="form-group">
      <label for="exampleFormControlTextarea1" class="col-lg-1"
        >Observación</label
      >
      <textarea class="form-control" id="c_observa" rows="3"></textarea>
    </section>
    <section class="btn-toolbar" role="toolbar">
      <section class="btn-group col-lg-1">
        <button type="submit" class="btn btn-primary" id="b_guardar">
          Guardar
        </button>
      </section>
      <section class="btn-group col-lg-1">
        <button type="reset" class="btn btn-primary" id="b_cancelar">
          Cancelar
        </button>
      </section>
    </section>
  </section>
</form>
