<app-menu></app-menu>
<div class="text-center">
  <section id="top" class="one facyt">
    <div class="container">
      <header>
        <h2>Entrevistas</h2>
      </header>
    </div>
  </section>
  <div>
    <table id="dataTable" class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>Observaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entrevista of entrevistas; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ entrevista.fecha_entrevista }}</td>
          <td>{{ entrevista.observacion_entrevista  }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>