<form
  #formIngresar="ngForm"
  (ngSubmit)="enviarInformacion(formIngresar)"
  class="col-lg-4 p-4 container fadein"
>
  <h3 class="text-center fuente_titulo">INICIAR SESIÓN</h3>
  <section class="form-group">
    <label class="fuente" for="email">Correo:</label>
    <input
      placeholder="Correo"
      type="email"
      class="form-control"
      id="correo"
      required
      name="correo"
      [(ngModel)]="usuario.correo_ingreso"
    />
  </section>
  <section class="form-group">
    <label class="fuente" for="password">Contraseña:</label>
    <input
      placeholder="Contraseña"
      type="password"
      class="form-control"
      id="contrasena"
      required
      name="contrasena"
      [(ngModel)]="usuario.contrasena_ingreso"
    />
  </section>
  <!-- <button type="submit" class="btn  btn-ingreso" aria-pressed="false">INICIAR SESIÓN</button> -->
  <button type="submit" class="btn btn-primary">INICIAR SESIÓN</button>
</form>
