<form #formCrear="ngForm" (ngSubmit)="crearVacante(formCrear)" class="form-horizontal" style="margin-top: auto">
  <a class="navbar-brand" href="#">
    <img class="img-fluid" src="assets\Iconos\ITC.png" alt="logo" />
  </a>
  <section class="container my-5 position-relative">
    <h1>Vacante</h1>
    <section class="form-group">
      <label for="exampleFormControlInput1 ">Fecha Solicitud</label>
      <input type="date" class="form-control" id="v_fecha" name="v_fecha" [(ngModel)]="vacante.fecha_solicitud" />
    </section>
    <section class="form-group">
      <label for="exampleFormControlInput1" class="col-lg-1">Solicitante</label>
      <input type="text" class="form-control" id="v_solicitante" name="v_solicitante" placeholder="Juan Perez"
        [(ngModel)]="vacante.solicitante" />
    </section>
    <section class="form-group">
      <label for="exampleFormControlInput1" class="col-lg-1">Cargo</label>
      <input type="text" class="form-control" id="v_cargo" name="v_cargo" placeholder="Gerente de proyecto"
        [(ngModel)]="vacante.cargo_solicitado" />
    </section>
    <section class="form-group">
      <label for="exampleFormControlInput1" class="col-lg-1">Estado</label>
      <section class="radio">
        <input type="radio" id="defaultUnchecked" name="defaultExampleRadios" [(ngModel)]="vacante.estado_solicitud">
        <label  for="defaultUnchecked">Abierto</label>
      </section>
      <section class="radio">
        <input type="radio" id="defaultChecked" name="defaultExampleRadios" checked>
        <label for="defaultChecked">Cerrado</label>
      </section>
    </section>
    <section class="form-group">
      <label for="exampleFormControlInput1" class="col-lg-1">Cantidad</label>
      <input type="number" class="form-control" id="v_cantidad" name="v_cantidad" placeholder="1"
        [(ngModel)]="vacante.cantidad_vacante" />
    </section>
    <section class="form-group">
      <label for="exampleFormControlInput1" class="col-lg-1">Teléfono</label>
      <input type="number" class="form-control" id="v_telefono" name="v_telefono" placeholder="321235385"
        [(ngModel)]="vacante.telefono_solicitante" />
    </section>

    <section class="form-group">
      <label for="exampleFormControlTextarea1" class="col-lg-1">Observación</label>
      <textarea class="form-control" id="v_observa" name="v_observa" [(ngModel)]="vacante.observacion_solicitud"
        rows="3"></textarea>
    </section>
    <section class="btn-toolbar" role="toolbar">
      <section class="btn-group col-lg-1">
        <button type="submit" class="btn btn-primary" id="b_vguardar">
          Guardar
        </button>
      </section>
      <section class="btn-group col-lg-1">
        <button type="reset" class="btn btn-primary" id="b_cancelar">
          Cancelar
        </button>
      </section>
    </section>
  </section>
</form>